[submodule "russian-asset-list"]
	path = russian-asset-list
	url = https://github.com/rusni-pyzda/russian-asset-list.git
	branch = .
[submodule "twitter-threads"]
	path = twitter-threads
	url = https://github.com/Ukraine-DAO/twitter-threads.git
	branch = generated
